// colors
$primary-color: #45b649;
$secondary-color: #b4bc20;
$tertiary-color: #dce35b;
$white: hsla(0, 0, 98%, 1);
$dark-grey: #1a1a1a;
$dark-grey-2: #262626;
$medium-grey: #90917e;
$medium-grey-2: #ccc;
$light-grey: #cbcbc2;
$light-grey-2: #f1f1ee;
$light-grey-3: #f5f5f5;

// paddings and margins
$pm-xs: 8px;
$pm-sm: 16px;
$pm-md: 32px;
$pm-lg: 48px;
$pm-xl: 64px;

// breakpoints
$bp-xl: 1200px;
$bp-lg: 980px;
$bp-md: 600px;
$bp-sm: 450px;
