@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins/generic.scss";

.item-container {
    font-size: 14px;
    color: $medium-grey;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover, &:active {
        @include hoverable-link;
    }
}

.active {
    color: $primary-color;
}
