<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non officiis nobis nulla nam officia incidunt eum, nostrum, molestias soluta voluptatem, autem dolor reiciendis hic laudantium? Qui eos rerum error vel earum velit omnis minima ducimus! Tempore expedita quod consectetur magnam, officia tenetur aliquid nobis eligendi consequuntur vero dignissimos praesentium repellat laborum fuga. Accusamus esse provident sequi laboriosam nam nobis voluptas atque, asperiores blanditiis possimus ratione excepturi voluptates similique nostrum dolore quisquam voluptate fugit eos. Nulla modi veritatis repellat molestiae odio beatae, nesciunt sed molestias quod repellendus velit labore magni numquam doloremque? Error impedit deserunt suscipit a rem nihil reiciendis possimus?
</p>
<button (click)="handleTest()">
  Test
</button>
<app-modal>
  <div class="ng-modal-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis delectus dolorem optio minus animi beatae qui, provident a molestiae at quidem cum ullam eius odio asperiores commodi veniam. Commodi voluptate vitae quaerat veritatis suscipit aliquam enim natus delectus nostrum. Eveniet veritatis hic ut assumenda molestiae consequuntur mollitia consectetur debitis incidunt?</div>
  <div class="ng-modal-footer">
    <button>Primary</button>
    <button>Secondary</button>
  </div>
</app-modal>
