@import "../../styles/variables.scss";

.col-12 {
    height: 50vh;
}

.graph-selector {
    display: flex;
    justify-content: space-between; 

    .icon {
        color: $medium-grey;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
            color: $primary-color;
        }
    }

    .active {
        color: $primary-color;
    }
}