@import "../../styles/variables.scss";

.form-group {
    margin-bottom: $pm-sm;

    label {
        font-size: 12px;   
        color: $medium-grey;
        display: block; 
        margin-bottom: 4px;
    }

    input, select, textarea {
        border-radius: 5px;
        padding: $pm-xs;
        background-color: $light-grey-2;
        border: 0;
        width: 80%;
        transition: all .15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus {
            outline: none;
            border: 1px solid $primary-color;
            width: 90%;
        }

        &::placeholder {
            font-family: 'Roboto', sans-serif;
            color: $medium-grey-2;
        }
    }
}