@import '../../../styles/variables.scss';
@import '../../../styles/mixins/generic.scss';
@import '../../../styles/mixins/shadows.scss';

.button {
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  @include shadow-md;

  &:active,
  &:hover {
    cursor: pointer;
    transform: translateY(1px);
    @include shadow-sm;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.color {
  &-primary {
    color: $white;
    background-color: $primary-color;
    border: 1px solid $primary-color;

    &__outline {
      border-color: $primary-color;
      background-color: transparent;
      border-width: 2px;
      color: $primary-color;
    }
  }

  &-secondary {
    color: $white;
    background-color: $secondary-color;
    border: 1px solid $secondary-color;

    &__outline {
      border-color: $secondary-color;
      background-color: transparent;
      border-width: 2px;
      color: $secondary-color;
    }
  }

  &-medium-grey {
    color: $white;
    background-color: $medium-grey;
    border: 1px solid $medium-grey;

    &__outline {
      border-color: $medium-grey;
      background-color: transparent;
      border-width: 1px;
      color: $medium-grey;
    }
  }

  &-white {
    color: $primary-color;
    background-color: $white;
    border: 1px solid $white;

    &__outline {
      border-color: $white;
      background-color: transparent;
      border-width: 1px;
      color: $white;
    }
  }
}
