@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins/shadows.scss";
@import "../../../../styles/mixins/paddings.scss";

.side-drawer {
    position: absolute;
    margin: 0;
    padding: 16px 32px;
    top: 0; 
    left: 0;
    width: 60%;
    height: 100%;
    animation-name: slideIn;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    transition: left .3s ease-in-out;
    background-color: $white;
    
    @include shadow-sm;
}

.nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

:host ::ng-deep li {
    @include margin-top-md;
}