<div class="container-fluid margin-y__md">
  <app-transaction-table
    [transactions]="(transactionsState | async).transactions"
    (itemClicked)="handleItemClicked($event)"
  >
  </app-transaction-table>
</div>
<app-modal
  title="Transaction Details"
>
  <div class="ng-modal-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis delectus dolorem optio minus animi beatae qui, provident a molestiae at quidem cum ullam eius odio asperiores commodi veniam. Commodi voluptate vitae quaerat veritatis suscipit aliquam enim natus delectus nostrum. Eveniet veritatis hic ut assumenda molestiae consequuntur mollitia consectetur debitis incidunt?</div>
  <div class="ng-modal-footer">
    <button>Test</button>
    <button>Test Secondary</button>
  </div>
</app-modal>