<div class="container margin-y__md">
  <div *ngIf="(roommate$ | async) as roommate">
    <div class="margin-bottom__lg">
      <h2>Totals</h2>
      <div *ngIf="(roommateTotals$ | async) as totals">
        <app-totaller
          positiveHeader="To"
          negativeHeader="From"
          totalHeader="Total"
          [positiveAmount]="totals.to"
          [negativeAmount]="totals.from"
          [totalAmount]="totals.total"
        ></app-totaller>
      </div>
    </div>
    <div>
      <h2>Charges</h2>
      <app-transaction-table
        [transactions]="roommate.expenses"
        (itemClicked)="handleItemClicked($event)"
      >
      </app-transaction-table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="wrapper">
  <app-loading-spinner [open]="roommatesLoading$ | async"></app-loading-spinner>
  <app-floating-action
    (click)="handleToggleNew()"
    color="primary"
  ></app-floating-action>
</div>
