@import "../../../styles/variables.scss";
@import "../../../styles/mixins/paddings.scss";

.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    div {
        text-decoration: none;
        color: $primary-color;
    }

    img {
        max-height: 30px;
        @include padding-right-xs;
    }

    &:hover {
        opacity: 0.8;
    }
}
