<div 
  *ngIf="open"
  class="wrapper"
  (click)="handleToggleModal()"
  [@modalWrapper]
>
  <div class="modal margin-y__xl" appClickStopPropagation>
    <div class="modal-header padding-all__sm">
      <h2>{{ title }}</h2>
      <fa-icon 
        [icon]="faTimes"
        class="close"
        size="lg"
        (click)="handleToggleModal()"
      ></fa-icon>
    </div>
    <div class="modal-content padding-all__sm">
      <ng-content select=".ng-modal-content"></ng-content>
    </div>
    <div class="modal-footer padding-all__sm">
      <ng-content select=".ng-modal-footer"></ng-content>
    </div>
  </div>
</div>