@import "../variables.scss";

@mixin primary-background-gradient {
    background: $primary-color;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $secondary-color, $primary-color);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, $secondary-color, $primary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin hoverable-link {
    opacity: 0.7;
    color: $primary-color;
    cursor: pointer;
}

@mixin hoverable-link-opacity-only {
    opacity: 0.7;
    cursor: pointer;
}