@mixin shadow-sm {
    box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
}

@mixin shadow-md {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

@mixin shadow-lg {
    box-shadow: 0 8px 12px 0 hsla(0, 0%, 0%, 0.2);
}