@import './app/styles/mixins/paddings.scss';
@import './app/styles/mixins/generic.scss';
@import './app/styles/variables.scss';

/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
